# Quarto output
_site/
# index.html
index_files/
# !docs/
# !docs/index.html
# !docs/index_files/

# Quarto cache/internal
.quarto/
_quarto/

# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints/

# Editor/OS junk
.DS_Store
Thumbs.db
*.bak
*.swp
*.swo
*~

# VSCode
.vscode/
.venv/
.env

/.quarto/

/draft/
